body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #f3f3f3;
}
.container {
  color: #d8c7c7;
  border: 3px solid red;
}
.box {
  padding: 20px;
  color: #d8c7c7;
  text-align: center;
  font-size: 15px;
}
.box-1 {
  background: brown;
}
.box-2 {
  background: rgb(84, 166, 139);
}
.box-3 {
  background: rgb(212, 223, 172);
}
.box-4 {
  background: rgb(94, 47, 47);
}
.box-5 {
  background: rgb(30, 33, 4);
}
.generic {
  background: rgb(51, 134, 197);
}
